[submodule "themes/HugoTeX"]
	path = themes/HugoTeX
	url = https://github.com/kaisugi/HugoTeX.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
